[Desktop Entry]
Name=Dispatch
Exec=dispatch %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.maxrdz.Dispatch
Categories=COSMIC;
Keywords=
MimeType=
